body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #231223;
  color: #fff;
  border-radius: 5px;
}
button:hover {
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
  background-color: #231340;
  border-radius: 8px;
  /* color: #fff; */
}
i {
  cursor: pointer;
}
